<div id="sidebar-container" class="bg-primary">

  <div class="menu">
      <div class="user-container">

          <div class="user-container_divider"  style="color:#ffffff">
              <h5>Bienvendio a tu perfil Matias</h5>
              <h4>ADMIN</h4>
          </div>

      </div>
      <div class="navigation-container">
          <ul>
              <li style="color:#FFFFFF">
                  <a routerLink="curso">Cursos</a>
              </li>
              <li style="color:#FFFFFF">
                <a routerLink="inscripcion">Inscrito</a>
            </li>
            <li style="color:#FFFFFF">
              <a routerLink="students">alumnos</a>
          </li>
          </ul>
      </div>
