<h1 mat-dialog-title>Agregar curso</h1>
<div mat-dialog-content style="top: 500px;">
  <form class="flex flex-column" [formGroup]="cursoForm">
      <mat-form-field appearance="fill">
     <mat-label>Nombre</mat-label>
     <input [formControl]="nameNameControl" matInput placeholder="Placeholder">
     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     <mat-hint>Hint</mat-hint>
   </mat-form-field>
   <mat-form-field appearance="fill">
     <mat-label>Curso</mat-label>
     <input [formControl]="cursoNameControl" matInput placeholder="Placeholder">
     <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
     <mat-hint>Hint</mat-hint>
   </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
 <button mat-button (click)="close()">cancelar</button>
  <button mat-button [mat-dialog-close]=cursoForm.value cdkFocusInitial>Guardar</button>
</div>

